<div class="avatar">
  <img class="gravatar" src={{user.avatarUrl}} alt={{users.label}} title="peer id: {{user.uuid}}">
</div>
<div class="user-info">
  <div class="user-label">You</div>
  <div class="user-ip">
    <span>{{user.label}}</span>
  </div>
</div>
