.l-header
  .navbar
    position: fixed
    z-index: 200
    top: 0
    left: 0
    width: 100%
    height: 60px
    background: rgba(white,.7)
    color: #000
    .logo
      position: relative
      height: 38px
      width: 162px
      margin: 15px 0 0 15px
      background: transparent image-url("/images/sharedrop.svg") no-repeat left top
      .logo-title
        display: none
      .logo-subtitle
        position: absolute
        bottom: 0
        left: 44px
        font-size: 10px
        font-weight: bold
      img
        vertical-align: top

    .nav
      position: absolute
      top: 15px
      right: 15px
      > li
        float: left
        margin-left: 15px
        font-size: 14px
        line-height: 30px
        a
          display: inline-block
          img
            vertical-align: middle

    .sign
      color: #000
      transition: opacity .2s linear
      background: transparent image-url("/images/persona.svg") no-repeat left
      padding-left: 25px
      &:hover
        opacity: .6
