@media (max-width: 768px)
  .container
    padding: 60px 0
  .user
    .peer
      position: relative
      left: auto !important
      bottom: auto !important
      height: 84px
      width: 100%
      padding: 10px 20px
      border-bottom: 1px solid #e0e0e0
      margin: 0 !important
      text-align: left
      .gravatar
        position: absolute
        left: 20px
        top: 10px
      .user-info
        display: block
        position: static
        padding-left: 154px
        width: 100%
        .user-email
          font-size: 14px
        .user-label
          font-size: 18px
        .user-id
          font-size: 12px
          color: #808080
      .popover
        left: 20px !important
        top: -140px !important
    &.you
      .peer
        border-bottom: none
  .circles
    display: none
