$user-size: 64px
.user
  .peer
    position: absolute
    left: 50%
    bottom: 300px
    width: $user-size
    height: $user-size
    margin-left: -$user-size / 2
    text-align: center
    .gravatar
      display: inline-block
      border: 1px solid #c0c0c0
      box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px
      width: $user-size
      height: $user-size
      border-radius: 50%
      +transition(all .2s ease-in-out)
      +animation(shadow .8s ease-in)
    .user-info
      position: absolute
      top: 68px
      left: 50%
      width: 140px
      margin-left: -70px
      .user-label, .user-email
        font-weight: bold
        color: #606060
      .user-email
        font-size: 10px
      .user-label
        font-size: 14px
      .user-id
        font-size: 10px
        color: #808080
      .user-connected
        display: inline-block
        background: #73b806
        width: 6px
        height: 6px
        vertical-align: middle
        border-radius: 50%
    .popover
      max-width: 460px
      min-width: 300px
    &:nth-of-type(2)
      margin-left: -186px
      bottom: 225px
    &:nth-of-type(3)
      margin-left: 120px
      bottom: 225px
    &:nth-of-type(4)
      margin-left: -186px
      bottom: 365px
    &:nth-of-type(5)
      margin-left: 120px
      bottom: 365px
    &:nth-of-type(6)
      margin-left: -326px
      bottom: 180px
    &:nth-of-type(7)
      margin-left: 260px
      bottom: 180px
    &:nth-of-type(8)
      margin-left: -366px
      bottom: 320px
    &:nth-of-type(9)
      margin-left: 300px
      bottom: 320px
    &:nth-of-type(10)
      margin-left: -436px
      bottom: 90px
    &:nth-of-type(11)
      margin-left: 370px
      bottom: 90px
    &:nth-of-type(12)
      bottom: 400px
    &:nth-of-type(13)
      margin-left: -236px
      bottom: 90px
    &:nth-of-type(14)
      margin-left: 170px
      bottom: 90px
    &.disconnected
      opacity: .4
  &.you
    .peer
      bottom: 100px
  &.other
    .peer:not(.disconnected)
      .gravatar
        cursor: pointer
        &:hover
          +scale(1.1)
          border-color: #73b806

+keyframes(shadow)
  0%
    opacity: 0
  50%
    opacity: 1
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px
