{{#modal-dialog action="close"}}
  <h2 class="logo"><span>ShareDrop</span></h2>
  <h3>What is it?</h3>
  <p>
    ShareDrop is a free app that allows you to easily and securely share files directly between devices in the same local network<sup>*</sup>, without having to upload them to any server first.
  </p>

  <h3>How to use it?</h3>
  <p>
    To send a file to another device, open this page on both devices. Drag and drop the file directly on other user's avatar or click the avatar and select the file you want to send. The file transfer will start once the recipient accepts the file.
  </p>

  <p>
    Additionally, you can sign in using <a href="http://www.mozilla.org/persona" target="_blank">Persona</a> to allow others to easily recognize you by your email. This will show others your email address and also your <a href="http://gravatar.com" target="_blank">Gravatar</a>, if you have one.
  </p>

  <p>
    <em><sup>*</sup>Devices need to have the same <a href="https://www.google.com/search?q=what+is+my+ip" target="_blank">public IP</a> to see each other.</em>
  </p>

  <button {{action "close"}}>Got it!</button>
{{/modal-dialog}}
