<div class="container">
  <div class="user others">
    {{#each peer in model}}
      {{render "peer" peer}}
    {{/each}}
  </div>

  {{#if you.uuid}}
    <div class="user you">
      {{render "user" you}}
    </div>
  {{/if}}
</div>
