<div class="avatar">
  <img class="gravatar img-circle" {{bind-attr src="avatarUrl" alt="label" title="uuid"}}>
</div>
<div class="user-info">
  You
  {{#if model.local_ip}}
    <div class="user-id">
      {{#if model.isConnected}}
        <div class="user-connected"></div>
      {{/if}}
      {{model.local_ip}}
    </div>
  {{/if}}
</div>
