<div class="avatar">
  <img class="gravatar" {{bind-attr src="avatarUrl" alt="label" title="uuid"}}>
</div>
<div class="user-info">
  <div class="user-label">You</div>
  {{#if model.local_ip}}
    <div class="user-id">
      {{#if model.isConnected}}
        <div class="user-connected"></div>
      {{/if}}
      {{#if view.hasManyLocalIps}}
        {{view Ember.Select content=view.localIps value=model.local_ip}}
      {{else}}
        {{model.local_ip}}
      {{/if}}
    </div>
  {{/if}}
</div>
