<div class="error">
  <p>We're really sorry, but your browser is not supported.<br>Please use the latest <b>Chrome for Desktop or Android</b> or <b>Opera</b>.</p>
  <p><b>Firefox support is coming soon!</b></p>
</div>
