<div class="error">
  <p>Uh oh. Looks like there's some issue and we won't be able<br>to save your files.</p>
  <p>If you've opened this app in incognito/private window,<br>try again in a normal one.</p>
</div>
