{{#modal-dialog onClose=(action "closeModal" target=currentRoute)}}
  <h2 class="logo"><span>ShareDrop</span></h2>
  <h3>What is it?</h3>
  <p>
    ShareDrop is a free app that allows you to easily and securely share files directly between devices without having to upload them to any server first.
  </p>

  <h3>How to use it?</h3>
  <h4>Sharing files between devices in local network<sup>*</sup></h4>
  <p>
    To send a file to another device in the same local network, open this page (i.e. <a href="https://www.sharedrop.io">www.sharedrop.io</a>) on both devices. Drag and drop a file directly on other person's avatar or click the avatar and select the file you want to send. The file transfer will start once the recipient accepts the file.
  </p>

  <h4>Sharing files between devices in different networks</h4>
  <p>
    To send a file to another device in a different network, click <span class="plus-icon">+</span> button in the upper right corner of the page and follow futher instructions.
  </p>

  <h3>Feedback</h3>
  <p>
    Got a problem with using ShareDrop, suggestion how to improve it or just want to say hi? Send an email to <a href="mailto:support@sharedrop.io">support@sharedrop.io</a> or report an issue on <a href="https://github.com/cowbell/sharedrop/issues">GitHub</a>.
  </p>

  <div class="actions">
    <button {{action "closeModal"}}>Got it!</button>
    <p class="note"><sup>*</sup>Devices need to have the same <a href="https://www.google.com/search?q=what+is+my+ip" target="_blank" rel="noopener">public IP</a> to see each other.</p>
  </div>
{{/modal-dialog}}
