{{#modal-dialog onClose=(action "closeModal" target=currentRoute)}}
  <h2 class="logo"><span>ShareDrop</span></h2>
  <h3>Share files between devices in different networks</h3>

  <p>
    Copy provided address and send it to the other person...
  </p>

  <p>
    {{room-url value=currentUrl readonly="readonly" style="display: block; margin: auto;"}}
  </p>

  <p>
    Or you can scan it on the other device.
  </p>


  <p class="qr-code">
    {{qr-code text=currentUrl}}
  </p>

  <p>
    Once the other person open this page in a browser, you'll see each other's avatars.
  </p>

  <p>
    Drag and drop a file directly on other person's avatar or click the avatar and select the file you want to send. The file transfer will start once the recipient accepts the file.
  </p>

  <div class="actions">
    <button {{action "closeModal"}}>Got it!</button>
  </div>
{{/modal-dialog}}
