<main class="l-content">
  <div class="user others">
    {{#each model as |peer|}}
      {{peer-widget peer=peer hasCustomRoomName=hasCustomRoomName webrtc=webrtc}}
    {{/each}}
  </div>

  {{#if you.uuid}}
    <div class="user you">
      {{user-widget user=you}}
    </div>
  {{/if}}

  <svg class="circles" viewBox="-0.5 -0.5 1140 700">
    <circle class="circle" cx="570" cy="570" r="30"  stroke="rgba(160,160,160, 1)" />
    <circle class="circle" cx="570" cy="570" r="100" stroke="rgba(160,160,160,.9)" />
    <circle class="circle" cx="570" cy="570" r="200" stroke="rgba(160,160,160,.8)" />
    <circle class="circle" cx="570" cy="570" r="300" stroke="rgba(160,160,160,.7)" />
    <circle class="circle" cx="570" cy="570" r="400" stroke="rgba(160,160,160,.6)" />
    <circle class="circle" cx="570" cy="570" r="500" stroke="rgba(160,160,160,.5)" />
  </svg>
</main>
